body {
    background:#baeb07a6;
    font-family: "Chakra Petch"
}

section {
    background-color: rgb(156, 211, 213);
    padding-bottom: 5%;
    padding-top: 5%;
    display: flex;
    justify-content: center;
}
header{
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color:rgb(42, 122, 228);
}
.texto {
margin-right: 80px;
}
.musica {
font-family: "chakra Petch";
}

h1{
    font-size: 40px;
    }
    
    p{
    font-size: 20px;
    }
    img {
        height: 200px;
    }
