body {
    background:#e6a37c;
    font-family: "Chakra Petch"
}

section {
    background-color: rgb(230, 217, 235);
    padding-bottom: 5%;
    padding-top: 5%;
    display: flex;
    justify-content: center;
}.
header{
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color:rgb(42, 122, 228);
}
.texto {
margin-right: 80px;
}
.musica {
font-family: "chakra Petch";
}

h1{
    font-size: 40px;
    }
    
    p{
    font-size: 20px;
   
    }
    .lista {
        background-color: rgb(145, 184, 151);

    }
.categorias-videos img{
    opacity: 0.5;
    height: 200px;
}
.categorias-videos img:hover{
    opacity: 1.0;
    border: 1px solid rgb(103, 151, 41)
}
    .categoria-videos {
        display: flex;
        overflow: auto;
        gap: 15px;
    }
    footer p{
        
    }
