body {
    background:#baeb07a6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section {
    background-color: rgb(213, 156, 201);
    padding-bottom: 5%;
    padding-top: 5%;
    display: flex;
    justify-content: center;
}
.texto {
margin-right: 80px;
}
